
<h1> Post Details </h1>

<h2> <strong> <%= @posts[@index].catagory %> </strong></h2>

<ul> 
    <li>
   
      <%= @posts[@index].title %>
      <br>
    By,
      <%= @posts[@index].author %>
      </li>
      <li>
 On, 
      <%= @posts[@index].date %> 
          </li>
      <li>
      <%= @posts[@index].text %>

         </li>

</ul>







